<div class="header">
    <div class="header-content">
        <button class="title" (click)="navigateHome()">CHARLIE LOBE</button>
        <div class="links" [ngClass]="{ 'dark-mode': darkModeService.darkModeEnabled }">
            <a href="https://github.com/lobecf" target="_blank" class="link">
                <i class="fab fa-github"></i> <!-- GitHub icon -->
                <span class="tooltip">GitHub</span>
            </a>
            <a href="https://www.linkedin.com/in/charlie-lobe-72012954/" target="_blank" class="link">
                <i class="fab fa-linkedin"></i> <!-- LinkedIn icon -->
                <span class="tooltip">LinkedIn</span>
            </a>
            <a href="https://www.strava.com/athletes/39188092" target="_blank" class="link">
                <i class="fab fa-strava"></i> <!-- Strava icon -->
                <span class="tooltip">Strava</span>
            </a>
        <a href="https://www.duolingo.com/profile/CharlesLob17" target="_blank" class="link">
                <i class="fab fa-duolingo"></i> <!-- Strava icon -->
                <span class="tooltip">Duolingo</span>
            </a>
        </div>
    </div>
</div>

