.header {
    text-align: left; /* Ensure text is aligned to the left */
}

.header-content {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-top: 25px; /* Space above the header */
    margin-left: 25px; /* Space from the left */
    margin-right: 75px;
    justify-content: space-between; /* Distributes space between title and links */
}

.title {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 0; /* Remove top and bottom margins */
}

.links {
    display: flex; /* Keeps links in a row */
    margin-left: auto; 
    font-size: 25px; 
}

.link {
    position: relative; /* Required for positioning the tooltip */
    padding-left: 10px; /* Minimal space for the icon */
    margin-left: 50px; /* Margin between icons */
    transition: transform 0.3s ease; /* Smooth transition for movement */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.link:hover {
    transform: translateX(-10px); /* Shift the hovered icon to the left */
}

.tooltip {
    visibility: hidden; /* Hidden by default */
    color: black; /* Text color */
    text-align: center; /* Center the text */
    position: absolute; /* Positioning of the tooltip */
    z-index: 1;
    left: 110%; /* Position tooltip to the right of the icon */
    opacity: 0; /* Hidden */
    transition: opacity 0.3s ease; /* Fade effect */
    font-size: 12px; 
}

.link:hover .tooltip {
    visibility: visible; /* Show the tooltip */
    opacity: 1; /* Make it visible */
}

.dark-mode .link {
    color: white; /* Adjust link color in dark mode */
}

.dark-mode .tooltip {
    color: white; /* Adjust link color in dark mode */
}
