<div class="content">
    <div class="skill-wrapper">
        <h3 class="header">Front-end</h3>
        <p class="skill">Languages: JavaScript, TypeScript, HTML, CSS</p>
        <p class="skill">Frameworks: Angular, React, ElectronJs</p>
    </div>
    <div class="skill-wrapper">
        <h3 class="header">Backend-end</h3>
        <p class="skill">Languages: Java, Ruby, SQL</p>
        <p class="skill">Frameworks: Spring Boot, Ruby-On-Rails, NodeJs</p>
    </div>
    <div class="skill-wrapper">
        <h3 class="header">Developer Tools</h3>
        <p class="skill">Docker, Azure Cloud, GitHub Actions, Snyk, Kubernetes, Prometheus, Grafana, Ansible, Putty</p>  
    </div>
    <div class="skill-wrapper">
        <h3 class="header">Design Software</h3>
        <p class="skill">Sketch, Figma, Adobe Creative Suite (XD, PhotoShop, InDesign, Illustrator), Revit, AutoCAD, Rhino3D, SketchUp, ArcGI</p>  
    </div>
</div>
