<div class="content">
    <h3 class="company">Kroger Technology & Digital</h3>
    <div class="title-wrapper">
        <p class="sub-title">Software Engineer</p> 
        <p class="sub-title">May 2022 - Present</p> 
    </div>
    <ul class="list">
        <li>Leverage Angular and Java (Spring Framework) to deliver creative fullstack solutions that supplement internal software programs which correspond with Azure Cloud Server within all Kroger Companies</li>
        <li>Utilize Design Thinking methodologies by embodying the Design Thinking Process through collaboration between self organizing and cross functional teams within the enterprise</li>
        <li>Examine existing design systems to promote new system architecture modifications that increase User Experience and Developer Experience</li>
        <li>Adoption of Project Agility to diligently meet enterprise, department, and team Objectives and Key Results</li>
    </ul>   
</div>

<div class="content">
    <h3 class="company">Akelius Real Estate Management </h3>
    <div class="title-wrapper">
        <p class="sub-title">Architectural Project Manager</p>
        <p class="sub-title">November 2016 - June 2021</p>
    </div>
    <ul class="list">
        <li>Directed and managed scope of large scale capital and value add work within Akelius’ growing residential and office portfolio in New York including the remote management of design projects in Washington DC and Boston; equaling to +300 individual apartment renovations and 15 capital improvement initiatives with direct expenditures of over $400M</li>
        <li>Lead for all final design and specifications for all projects within New York City. In charge of overseeing the aesthetic and technical design process while executing company strategic goals by maintaining consistency standards across the portfolio</li>
    </ul>
</div>
<div class="content">
    <h3 class="company">Robert A.M Stern Architects</h3>
    <div class="title-wrapper">
        <p class="sub-title">Architectural Designer</p> 
        <p class="sub-title">May 2015 - November 2016</p> 
    </div>
    <ul class="list">
        <li>Initiated interior and exterior architectural design from conceptual design through construction documentation for upmarket, high-rise residential condominiums and rental apartment buildings</li>
    </ul>   
</div>
