<div class="wrapper">
    <div class="content">
        <h3 class="header">Kroger Technology & Digital</h3>
        <div class="title-wrapper">
            <p class="sub-title">Software Engineer</p> 
            <p class="sub-title">May 2022 - Present</p> 
        </div>
        <ul class="list">
            <li>Leverage Angular and Java (Spring Framework) to deliver creative fullstack solutions...</li>
            <li>Utilize Design Thinking methodologies...</li>
            <li>Examine existing design systems...</li>
            <li>Adoption of Project Agility...</li>
        </ul>   
    </div>

    <div class="content-second-wrapper">
        <div class="content-second">
            <h3 class="header">Akelius Real Estate Management</h3>
            <div class="title-wrapper">
                <p class="sub-title">Architectural Project Manager</p>
                <p class="sub-title">November 2016 - June 2021</p>
            </div>
            <ul class="list">
                <li>Directed and managed scope of large-scale capital and value add work...</li>
                <li>Lead for all final design and specifications for all projects...</li>
            </ul>
        </div>

        <div class="content-second">
            <h3 class="header">Robert A.M Stern Architects</h3>
            <div class="title-wrapper">
                <p class="sub-title">Architectural Designer</p> 
                <p class="sub-title">May 2015 - November 2016</p> 
            </div>
            <ul class="list">
                <li>Initiated interior and exterior architectural design...</li>
            </ul>   
        </div>
    </div>
</div>
