.nav-bar-wrapper {
    margin-top: 30px;
padding-right: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: right;
width: 100px;
}

.about-wrapper {
    padding-left: 5px;
    text-align: right;
}

.link {
    padding-top: 25px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 25px;
    color: rgb(165, 165, 165);
    transition: color 0.2s ease;
}

.link:hover {
    color: black;
    cursor: pointer;
}

.selected {
    color: black;
    cursor: pointer;
    }

.link-subject {
    font-weight: 550;
    margin: 5px;
    color: rgb(165, 165, 165);
    transition: color 0.2s ease;
}

.link-subject:hover {
    cursor: pointer;
    color: black;
}

.selected-link {
    display: block;
    color: black;
    }

.dark-mode .selected-link {
    color: white;
    }

    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: #0087ca;
      }
      


