.container {
    display: flex; 
    justify-content: space-between; /* Keeps the wrappers at each end */
}

.wrapper {
    flex: 0 1 calc(50% - 10px); /* Adjust width to allow space between */
    box-sizing: border-box; 
    padding: 20px; 
    background-color: rgb(203, 203, 203);
    border-radius: 15px;
    margin-right: 20px; /* Space between columns */
}

.wrapper:last-child {
    margin-right: 0; /* Removes right margin from the last wrapper */
}

.header {
    font-size: 18px;
    margin: 0 0 8px 0;
    font-weight: bold; 
}

.input-group {
    display: flex;
    justify-content: space-between; /* Space between inputs */
    margin-bottom: 15px; /* Space between groups */
}

.input-group input {
    flex: 1; /* Equal width */
    margin-right: 10px; /* Space between inputs */
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group input:last-child {
    margin-right: 0; /* No margin for the last input */
}

textarea {
    width: 100%; /* Full width */
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box; /* Space below textarea */
    font-family: Roboto, "Helvetica Neue", sans-serif
}

.send-button {
    display: block; /* Centering the button */
    margin: 0 auto; /* Auto margins for centering */
    padding: 10px 20px;
    border: none;
    background-color: #007bff; /* Button color */
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.send-button:disabled {
    background-color: #ccc; /* Disabled state */
    cursor: not-allowed;
}
