<div class="container">
    <div class="wrapper">
        <h3 class="header">Send a Message</h3>
        <p>Please include your first name, last name and valid email along with your message</p>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <input id="firstName" formControlName="firstName" required placeholder="First Name" />
                <input id="lastName" formControlName="lastName" required placeholder="Last Name" />
            </div>
            <div class="input-group">
                <input id="userEmail" formControlName="userEmail" required placeholder="Email" />
                <input id="phone" formControlName="phone" placeholder="Phone" />
            </div>
            <div>
                <textarea id="messageContent" formControlName="messageContent" required placeholder="Type your message here..."></textarea>
                <div *ngIf="contactForm.get('messageContent')!.invalid && contactForm.get('messageContent')!.touched">
                    <div *ngIf="contactForm.get('messageContent')!.errors?.['required']">Message is required.</div>
                    <div *ngIf="contactForm.get('messageContent')!.errors?.['maxlength']">Message cannot exceed 200 characters.</div>
                </div>
            </div>
            <button type="submit" [disabled]="contactForm.invalid" class="send-button">Send</button>
        </form>
    </div>
    <div class="wrapper">
        <h3 class="header">Contact Information</h3>
        <p class="degree">lobecfgmail.com</p>   
    </div>
</div>
