/* You can add global styles to this file, and also import other style files */
:root {
    --background: #ffffff;
    --text: #333333;
    --background-dark: #333333;
    --text-dark: #ffffff;
    }
    
    .dark-mode {
    --background: var(--background-dark);
    --text: var(--text-dark);
    }
    
    body {
    background-color: var(--background);
    color: var(--text);
    transition: background-color 0.3s, color 0.3s;
    overflow: auto;
    }
html,
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
