<div class="wrapper">
    <div class="text-container">
        <h3 class="header">Hello, welcome to my portfolio! </h3>
        <p>I am currently a Software Engineer at Kroger Technology & Digital where I leverage Angular, Java Spring Framework and SQL to deliver creative full-stack solutions to an agile team within the enterprise.</p>   
    </div>
    <div class="image-container">
        <img src="../../assets/IMG_4220.jpg" (click)="openModal('../../assets/IMG_4220.jpg')">
    </div>
</div>
