<div class="wrapper">
    <div class="text-container">
        <h3 class="header">My Story</h3>
        <p>I am currently a Software Engineer at Kroger Technology & Digital where I leverage Angular, Java Spring Framework and SQL to deliver creative full-stack solutions to an agile team within the enterprise.</p>
        <p>My previous 7 years of architectural problem solving skills in New York City supported my ability to complete Flatiron School's Software Engineering Live Program. My background in design and project management empowers me to diligently solve complex, technological problems in application development.</p>
        <p>I believe in quality over quantity and my passion for UI/UX drives me to code applications that are efficient, easy to use, and visually appealing. My architectural experience has increased my ability to communicate thoughtful design and functionality to both internal and external parties. I embrace a lifelong trajectory towards learning new stacks and skillsets within within the technology industry, and welcome challenge that will enhance my professional journey.</p>
    </div>
    <div class="image-facts-container">
        <div class="image-container">
            <img src="assets/IMG_4220.jpg" (click)="openModal('assets/IMG_4220.jpg')">
            <img src="assets/IMG_4220.jpg" (click)="openModal('assets/IMG_4220.jpg')">
            <img src="assets/IMG_4220.jpg" (click)="openModal('assets/IMG_4220.jpg')">
        </div>
    <div class="facts-container">
        <div class="facts-header">
            <h3 class="header">Quick Facts</h3>
        </div>
        <div class="facts-content"> <!-- New wrapper for key-value pairs -->
            <div class="facts-key">
                <p>Current Location:</p>
                <p>Years in Industry:</p>
                <p>Miles Ran in 2025:</p>
                <p>Last Jog:</p>
                <p>Spanish Level:</p>
                <p>Last Spanish Lesson:</p>
            </div>
            <div class="facts-value">
                <p>Miami, FL</p>
                <p>3.5</p>
                <p>50</p>
                <p>Oct 14, 2025</p>
                <p>18</p>
                <p>Oct 14, 2025</p>
            </div>
        </div>
    </div>
    </div>
</div>
